img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: orange;
}

nav, footer {
    padding: 1em;
    text-align: center;
    background-color: aquamarine;
}

main p {
    width: 80%;
    margin: 5% auto;
    text-align: center;
}

nav a {
    padding: 1em;
    min-width: 95%;
    text-decoration: none;
}

nav {
    line-height: 3em;
    text-align: center;
    font-size: 1.3em;
}